<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Human Keypoint Detection</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Upload an Image for Keypoint Detection</h1>
      <form method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="file">Choose an image</label>
          <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>

      {% if original_image %}
      <h2 class="mt-5">Original Image</h2>
      <img src="{{ url_for('send_file', filename=original_image) }}" class="img-fluid">

      <h2 class="mt-5">Processed Image</h2>
      <img src="{{ url_for('send_file', filename=result_image) }}" class="img-fluid">
      {% endif %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
